body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9d0ee;
}
.calculator_container{
    width: 500px;
    height:860px;
    background-color: black;
    padding: 8px;
    padding-right: 15px;
}
.input_container{
    padding: 0;
    width: 495px;
    height: 100px;
    margin-left: 2px;
}
#number_input{
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left:5px;
    padding-top:30px;
    font-size: 60px;
    outline:none;
    background-color: #c3c9c7;
    border:solid;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
}
.button_container{
    width: 100%;
    height: 700px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.top_functions_container{
    width: 100%;
    height: 50px;
    margin:34px; 
    margin-top: 40px;
    margin-bottom: 67px;
    display: flex;
    gap:5px;
    margin-left: 5px;
}

.right_functions_container{
    width: 125px;
    height: 600px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}
.numbers_container{
    width: 75%;
    height: 600px;
    margin:0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.top_functions_buttuns{
    border:none;
    padding:33px;
    font-size: 33px;
    margin-left:0px;
    margin-right: px;
    height: 115px;
    width: 116px;
    background-color: dodgerblue;
}
.top_functions_buttuns:active{
    opacity:0.8;
}
#delene{
    width: 126px;
    margin-left: 0px;
}
#AC{
    margin-right: 2px;
    width: 117px;
}
#PM{
    margin-right: 2px;
    margin-left: 0px;
}
#persent{
    width: 117px; 

}
.numbers_buttons{
    padding:50px;
    font-size: 30px;
    border:none;
    margin: 1px;
    background-color:#217C7E;
}
.numbers_buttons:active{
    opacity: 0.8;
}
#number_zero{
    width: 241px;
    margin-left: 0px;
    margin-right: 0px;
}

#dot{
    margin-top:1px;
    font-size: 40px;
    width: 116px;
    margin-left: 4px;
}
.right_functions_buttons{
    height: 145px;    
    font-size: 25px;
    border: none;
    margin-top:2px;
    background-color:#FF8F1F;;
    color:white;
}
.right_functions_buttons:active{
    opacity: 0.8;
}
#equell{
    height: 155px;
}
/* mobile screens */
@media(max-width:430px){
    .calculator_container{
        width: 400px;
        height:760px;
        background-color: black;
        padding: 8px;
        padding-right: 15px;
    }
    .input_container{
        padding: 0;
        width: 100%;
        height: 70px;
    }
    #number_input{
        width: 100%;
        height: 100%;
        padding: 0;
        padding-top:30px;
        font-size: 60px;
        outline:none;
        background-color: #c3c9c7;
        border:solid;
        font-family:'Courier New', Courier, monospace;
        font-size: 50px;
        
    }
    .button_container{
        width: 400px;
        height: 700px;
        padding: 0;
        display: grid;
        grid-template-rows: repeat(4);
    }
    .top_functions_container{
        width:88%;
        height: 50px;
        margin: 20px; 
        margin-top: 40px;
        margin-bottom:56px;
        display:flex;
        margin-left: 5px;
    }
    
    .right_functions_container{
        width: 70px;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(1);
        position: fixed;
        right: 115px;
        top: 302px;
    }
    .numbers_container{
        height: 500px;
        width: 56%;
        margin-bottom:480px; 
        display: flex;
    }
    .top_functions_buttuns{
        border:none;
        padding:0px;
        font-size:30px;
        background-color: dodgerblue;
        height: 100px;
        margin-right: 1px;
    }
    .top_functions_buttuns:active{
        opacity:0.8;
    }
    #delene{
        width: 95px;
        margin-right:100px;
    }
    #AC{
        margin: 0;
        width: 110px;
    }
    #PM{
        width: 110px;
    }

    #persent{ 
      width: 110px; 
    
    }
    .numbers_buttons{
       width: 100px;
       padding: 10px;
       height: 130px;
       background-color:#217C7E;
       margin-right: 0;
    }
    .numbers_buttons:active{
        opacity: 0.8;
    }
    #number_zero{
        width: 205px;
        margin-left:2px;
    }
    
    #dot{
        width: 100px;
    }
    .right_functions_buttons{
        width: 85px;
        height: 130px;
        background-color:#FF8F1F;;
        color:white;
    }
    .right_functions_buttons:active{
        opacity: 0.8;
    }
    #equell{
        height: 130px;
    }
}