body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9d0ee;
}
.calculator_container{
    width: 500px;
    height:860px;
    background-color: black;
    padding: 8px;
    padding-right: 15px;
}
.input_container{
    padding: 0;
    width: 495px;
    height: 100px;
    margin-left: 2px;
}
#number_input{
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top:30px;
    font-size: 60px;
    outline:none;
    background-color: #c3c9c7;
    border:solid;
}
.button_container{
    width: 100%;
    height: 700px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.top_functions_container{
    width: 100%;
    height: 50px;
    margin:34px; 
    margin-top: 40px;
    margin-bottom: 67px;
    display: flex;
    gap:5px;
    margin-left: 5px;
}

.right_functions_container{
    width: 125px;
    height: 600px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}
.numbers_container{
    width: 75%;
    height: 600px;
    margin:0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.top_functions_buttuns{
    border:none;
    padding:33px;
    font-size: 33px;
    margin-left:0px;
    margin-right: px;
    height: 115px;
    width: 116px;
    background-color: dodgerblue;
}
.top_functions_buttuns:active{
    opacity:0.8;
}
#delene{
    width: 126px;
    margin-left: 0px;
}
#AC{
    margin-right: 2px;
    width: 117px;
}
#PM{
    margin-right: 2px;
    margin-left: 0px;
}
#persent{
    width: 117px; 

}
.numbers_buttons{
    padding:50px;
    font-size: 30px;
    border:none;
    margin: 1px;
    background-color:#217C7E;
}
.numbers_buttons:active{
    opacity: 0.8;
}
#number_zero{
    width: 241px;
    margin-left: 0px;
    margin-right: 0px;
}

#dot{
    margin-top:1px;
    font-size: 40px;
    width: 116px;
    margin-left: 4px;
}
.right_functions_buttons{
    height: 145px;    
    font-size: 25px;
    border: none;
    margin-top:2px;
    background-color:#FF8F1F;;
    color:white;
}
.right_functions_buttons:active{
    opacity: 0.8;
}
#equell{
    height: 155px;
}